<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Automation</title>
</head>
<body>
<center><h1>Data Automation</h1></center>
<select name="Select a country: ">
<div th:each="data : ${datas}">
        <option th:value="${data.countryName}" th:text="${data.countryName}"></option>
</div>
</select>
<select name="city: ">
    <div th:each="data : ${datas}">
        <option th:value="${data.cityName}" th:text="${data.cityName}"></option>
    </div>
</select><br>
<select name="Select a date: ">
    <div th:each="data : ${datas}">
        <option th:value="${data.date}" th:text="${data.date}"></option>
    </div>
</select><br>
<button>show</button>
<button>send</button>
</body>
</html>